      .menu-item img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
        border: 2px solid #fff;
      }

      .menu-section {
        margin-bottom: 30px;
        padding-bottom: 30px; 
      }

      .menu-section h2 {
        border-bottom: 2px solid #333; 
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      .menu-section + .menu-section {
        border-top: 2px solid #333;
      }